body{
    margin: 0px;
    padding: 0px;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    overflow-x: hidden;
    background-image: url(fondoPuntos.jpg);
}
img {
    height: 14vh;
    margin: 2vh 0vh 0vh 0vh;
}
header a{
    text-decoration: none;
}
header a:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
}
header{
    background-color: #d0e2e8;
    color: #000300ff;
    width: 100vw;
    height: 25vh;
}
nav{
    width: 100vw;
    display: block;
    height: 3vh;
}
ul{
    width: 100vw;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0vh;
    margin: 0vh;
}
li{
    padding: 0.3vw;
    margin: 1vw 2.5vw;
    text-decoration: none;
    color: #000300ff;
   
}
.menu{
    border: solid #000300ff;
    border-width: 2px 3px 1.5px 3.4px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%; 
    background-color:  #fffafde8; 
}
.menu:hover{
    transform: none;
}
header li:hover{
    border: solid #000300ff;
    border-width: 2px 3px 1.5px 3.4px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;  
    transform: scale(1.1);
    transition-duration: 0.4s;
    background-color:  #fffafde8;
}
nav a{
    text-decoration: none;
    font-size: 1.5vh;
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    color: #000300ff;
}
header div{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
.letras{
    margin: 0vh;
    width: 36vw;
    height: 12vh;
    align-self: center;

}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
article{
    max-width: 450px;
    margin: 3vw;
    padding: 3vh;
    border: solid #000300ff;
    border-width: 5px;
    border-radius: 99% 2% 98% 3%/3% 97% 2% 98%;
    background-color:  #fcfbf9cc;
}
h1{
    text-align: center;
    font-size: 2.4vh;
    border: 5px solid #000300ff;
    padding: 0vh 1.5vh 0vh 0vh;
    margin: 2vh 0vh;
    background-color: rgba(240, 51, 41, 0.733);
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.95);
    -moz-box-shadow:    5px 5px 3px 0px rgba(0, 0, 0, 0.95);
    box-shadow:         5px 5px 3px 0px rgba(0, 0, 0, 0.95);
}
.table{
    width: auto;
    display: table;
}
.columna1{
    color: #f03229ff;
    font-size: 2.2vh;
    width: 80vw;
    text-align: left;
    vertical-align: bottom;
    padding: 1vh 0.2vh 0vh 0vh;
    display: table-cell;
    z-index: 10; 
    position: relative;
}
.columna{
    width: 20vw;
    text-align: right;
    vertical-align: bottom;
    padding: 0.3vw;
    display: table-cell;
    position: relative;
}
article img{
    display: none;
    width: 20vw;
    height: auto;
    border: solid #000300ff;
    border-width: 5px;
    border-radius: 99% 2% 98% 3%/3% 97% 2% 98%;
}
h3{
    position: relative;
    margin: 0vh;

}
:hover article img{
    position: absolute;
    display: inline;
    left: 30vw;
    top: 1vh;
    z-index: 100;
}
p{
    margin: 0.5vw 2vw 0.8vw 1.5vw;
    position: relative;
}

footer{
    color:  #00a9b1ff;
    height: 30vh;
    width: 100vw;
    background-color: rgba(0, 3, 0, 0.897);
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gatito{
    height: 11vh;
    width: auto;
}
.gatito:hover{
    transform: scale(1.06);
    transition: 0.4s;
}
footer img{
    padding: 1vh 2vw;
    width: 2.5vw;
}
.logo:hover{
    transform: scale(1.2);
    transition: 0.4s;
}
footer a{
    padding: 0vh 2vw;
    font-size: 1.5vh;
    text-decoration: none;
    color: #00a9b1ff;
}
.navfooter li:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
@media screen and (max-width: 900px){
    section{
        display: flex;
        flex-direction: column;
    } 
    footer nav{
        display: none;
    }
    nav a{
        font-size: 1.7vh;
        padding:0.5vh;
    }
    nav{
        margin: 0vh 0.5vh;
    }
    footer img{
        padding: 1vh 2vw;
        width: 8vw;
    }
    .gatito{
        width: 22vw;
        height: 11vh;
    }
    footer{
        height: 22vh;
    }
    li{
        padding: 0.7vw;
        margin: 5vw 1.8vw 8vw 0vw;
    }
    .letras{
        margin: 0vh;
        width: 48vw;
        height: 12vh;
    }
  